body{
    background-color: #eee48c;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

p{
    margin-bottom: 0;
}

.nav-pills {
    justify-content: center;
    margin: 10px 10px;
}